html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  background-color: black;
  margin: 0;
}

.xterm-wrap {
  height: 100vh;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#xterm-container, .terminal.xterm {
  flex: 1;
}
